.mt-2 {
    margin-top: 2rem;
  }

.mt-4 {
  margin-top: 4rem;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /*Altezza del contenitore per centrare verticalmente*/
}

.table-wrapper {
    position: relative;
}

.table-image {
    max-width: 100%;
    height: auto;
}

.player-name {
  position: absolute;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
