<div class="justify-center">
    <p-listbox 
        [options]="players" 
        [(ngModel)]="selectedPlayers" 
        optionLabel="name" 
        [multiple]="true" 
        [metaKeySelection]="false"
    />
</div>

<div class="justify-center mt-2">
    <p-button label="Genera tavolo" (onClick)="generateTable()" [disabled]="selectedPlayers.length === 0"/>
</div>

<section class="card flex justify-center mt-4 table-container">
    <div class="table-wrapper">
        <img src="/tavolo.jpg" alt="Table" class="table-image">
        <div *ngFor="let player of tableArrangement; let i = index" class="player-name" [ngStyle]="getPlayerPosition(i)">
            {{ player.name }}
        </div>
    </div>
</section>